@font-face {
  font-family: "idmicon"; /* Project id 2443260 */
  src: url('iconfont.woff2?t=1667204082496') format('woff2'),
       url('iconfont.woff?t=1667204082496') format('woff'),
       url('iconfont.ttf?t=1667204082496') format('truetype');
}

.idmicon {
  font-family: "idmicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.idm-icon-zhiding:before {
  content: "\e633";
}

.idm-icon-xiaoxi:before {
  content: "\e665";
}

.idm-icon-zhuanfa:before {
  content: "\e63d";
}

.idm-icon-28fuwenbenkuang:before {
  content: "\e62f";
}

.idm-icon-xiajiantou:before {
  content: "\eb6d";
}

.idm-icon-icon-GIS_dizhi:before {
  content: "\e60f";
}

.idm-icon-rili:before {
  content: "\e659";
}

.idm-icon-right-circle-fill:before {
  content: "\eb22";
}

.idm-icon-daibanshixiang1:before {
  content: "\ec4e";
}

.idm-icon-jiaohuan:before {
  content: "\e658";
}

.idm-icon-guanbi1:before {
  content: "\eaf2";
}

.idm-icon-wancheng:before {
  content: "\e7ed";
}

.idm-icon-zidingyi:before {
  content: "\eb6a";
}

.idm-icon-qiehuan1:before {
  content: "\e64b";
}

.idm-icon-jiaoseqiehuan:before {
  content: "\e62e";
}

.idm-icon-tuichu:before {
  content: "\e6bc";
}

.idm-icon-gengduo:before {
  content: "\e62d";
}

.idm-icon-gengduo-v:before {
  content: "\eb96";
}

.idm-icon-yanshoutongguo:before {
  content: "\e76e";
}

.idm-icon-baoming:before {
  content: "\e664";
}

.idm-icon-baoming1:before {
  content: "\e632";
}

.idm-icon-yiyue:before {
  content: "\e640";
}

.idm-icon-fasong:before {
  content: "\e62c";
}

.idm-icon-tuihui:before {
  content: "\e655";
}

.idm-icon-ego-heartfull:before {
  content: "\e62a";
}

.idm-icon-tianjiaguanzhu:before {
  content: "\e7b9";
}

.idm-icon-shijian:before {
  content: "\e628";
}

.idm-icon-ren:before {
  content: "\e629";
}

.idm-icon-jixiaoguanli:before {
  content: "\e624";
}

.idm-icon-wodewangpan:before {
  content: "\e623";
}

.idm-icon-goujianxinxi:before {
  content: "\e622";
}

.idm-icon-a-yingyongguanli1:before {
  content: "\e621";
}

.idm-icon-a-tixing1:before {
  content: "\e620";
}

.idm-icon-jiantou_yemian_xiangyou_o:before {
  content: "\e611";
}

.idm-icon-jiantou_yemian_xiangzuo_o:before {
  content: "\e615";
}

.idm-icon-a-1renyuanguanli:before {
  content: "\e619";
}

.idm-icon-renyuanguanli:before {
  content: "\e61a";
}

.idm-icon-a-renyuanguanli2:before {
  content: "\e61c";
}

.idm-icon-a-renyuanguanli1:before {
  content: "\e61d";
}

.idm-icon-AK-YK_gantanhao:before {
  content: "\e60c";
}

.idm-icon-gantanhao1:before {
  content: "\e60e";
}

.idm-icon-gantanhao:before {
  content: "\e609";
}

.idm-icon-xuanfurongqi:before {
  content: "\e673";
}

.idm-icon-xuanfu:before {
  content: "\e6f6";
}

.idm-icon-yingyongguanli:before {
  content: "\e663";
}

.idm-icon-yingyongguanli1:before {
  content: "\e68f";
}

.idm-icon-lunbo:before {
  content: "\e618";
}

.idm-icon-daibanshixiang:before {
  content: "\e792";
}

.idm-icon-riliricheng:before {
  content: "\e76d";
}

.idm-icon-catalog:before {
  content: "\e60b";
}

.idm-icon-paixu:before {
  content: "\e64e";
}

.idm-icon-lunbotuguanli:before {
  content: "\e642";
}

.idm-icon-banjie-tijiaohuizong:before {
  content: "\e64a";
}

.idm-icon-zizhanghaoqiehuan:before {
  content: "\e725";
}

.idm-icon-zhqh:before {
  content: "\e607";
}

.idm-icon-shortcutscriptapp:before {
  content: "\e698";
}

.idm-icon-kuaijie:before {
  content: "\e6e8";
}

.idm-icon-yingyongpaixu:before {
  content: "\e608";
}

.idm-icon-delete:before {
  content: "\e7c3";
}

.idm-icon-minus:before {
  content: "\e7fd";
}

.idm-icon-plus:before {
  content: "\e8fe";
}

.idm-icon-arrowright:before {
  content: "\e7ee";
}

.idm-icon-arrowleft:before {
  content: "\e7ef";
}

.idm-icon-sousuo:before {
  content: "\e601";
}

.idm-icon-buzhoutiao1:before {
  content: "\e631";
}

.idm-icon-chexiao:before {
  content: "\e605";
}

.idm-icon-tubiaojihe04:before {
  content: "\e606";
}

.idm-icon-biaoge:before {
  content: "\e66d";
}

.idm-icon-shuxuanzeqi:before {
  content: "\e69b";
}

.idm-icon-xuanxiangqia:before {
  content: "\e6a0";
}

.idm-icon-move:before {
  content: "\e616";
}

.idm-icon-iframe1:before {
  content: "\e62b";
}

.idm-icon-iframe2:before {
  content: "\e686";
}

.idm-icon-shuxing:before {
  content: "\e66e";
}

.idm-icon-shanchu1:before {
  content: "\e602";
}

.idm-icon-qiehuan:before {
  content: "\e784";
}

.idm-icon-guanbi:before {
  content: "\e603";
}

.idm-icon-xuanze:before {
  content: "\e669";
}

.idm-icon-xiugai-01:before {
  content: "\e6b2";
}

.idm-icon-tubiao-qiapian:before {
  content: "\eb95";
}

.idm-icon-guolvqi:before {
  content: "\e627";
}

.idm-icon-m-fenye:before {
  content: "\e7fb";
}

.idm-icon-lianjiekuai:before {
  content: "\e697";
}

.idm-icon-link:before {
  content: "\e617";
}

.idm-icon-icon_xiaolian-xian:before {
  content: "\e651";
}

.idm-icon-iframe:before {
  content: "\e74c";
}

.idm-icon-qiehuanzuzhi:before {
  content: "\e60d";
}

.idm-icon-anniu:before {
  content: "\e690";
}

.idm-icon-gonggao:before {
  content: "\e6c0";
}

.idm-icon-gonggao1:before {
  content: "\e650";
}

.idm-icon-duobianxingxuanze:before {
  content: "\e6ed";
}

.idm-icon-ic_image_upload:before {
  content: "\e60a";
}

.idm-icon-gonggao2:before {
  content: "\e626";
}

.idm-icon-jurassic_version:before {
  content: "\e695";
}

.idm-icon-zujian:before {
  content: "\e7c7";
}

.idm-icon-tongji:before {
  content: "\e66a";
}

.idm-icon-liebiao1:before {
  content: "\e65c";
}

.idm-icon-header:before {
  content: "\e61b";
}

.idm-icon-shengji:before {
  content: "\e78a";
}

.idm-icon-dangjian_caozuorizhi-25:before {
  content: "\e677";
}

.idm-icon-danxuan:before {
  content: "\e71f";
}

.idm-icon-danhangshurukuang:before {
  content: "\e692";
}

.idm-icon-duohangshurukuang:before {
  content: "\e693";
}

.idm-icon-xialadanxuan:before {
  content: "\e69e";
}

.idm-icon-Dialog:before {
  content: "\e69f";
}

.idm-icon-fuhao-shuzishurukuang:before {
  content: "\e630";
}

.idm-icon-fuxuankuang-true:before {
  content: "\e63a";
}

.idm-icon-xuanzhongjiaobiao:before {
  content: "\e612";
}

.idm-icon-xianshi:before {
  content: "\e6cc";
}

.idm-icon-yincang:before {
  content: "\e6cf";
}

.idm-icon-liebiao:before {
  content: "\e649";
}

.idm-icon-daima:before {
  content: "\e604";
}

.idm-icon-shanchu:before {
  content: "\e74b";
}

.idm-icon-shezhi:before {
  content: "\e610";
}

.idm-icon-line-layoutleft:before {
  content: "\e6ec";
}

.idm-icon-shoujixinhao:before {
  content: "\e61f";
}

.idm-icon-wifixinhao:before {
  content: "\e696";
}

.idm-icon-electricity-full:before {
  content: "\e996";
}

.idm-icon-tupian:before {
  content: "\e625";
}

.idm-icon-shu:before {
  content: "\e672";
}

.idm-icon-shang:before {
  content: "\e6eb";
}

.idm-icon-xia:before {
  content: "\e6ae";
}

.idm-icon-wenben:before {
  content: "\e648";
}

.idm-icon-kuang1:before {
  content: "\e639";
}

.idm-icon-guanliyupeizhi-:before {
  content: "\e61e";
}

.idm-icon-liebiaomoshi:before {
  content: "\e69d";
}

.idm-icon-fenlan:before {
  content: "\e983";
}

.idm-icon-bangzhu:before {
  content: "\e712";
}

.idm-icon-menu_connectionnew:before {
  content: "\e782";
}

.idm-icon-jiankongzhongxin:before {
  content: "\e64f";
}

.idm-icon-liebiaomoshi1:before {
  content: "\e613";
}

.idm-icon-zujian1:before {
  content: "\e67c";
}

.idm-icon-rongqi:before {
  content: "\e600";
}

.idm-icon-rongqi1:before {
  content: "\e65e";
}

.idm-icon-rongqi2:before {
  content: "\e9eb";
}

.idm-icon-rongqi3:before {
  content: "\e65a";
}

.idm-icon-rongqi4:before {
  content: "\e6b1";
}

.idm-icon-rongqi5:before {
  content: "\e6a6";
}

.idm-icon-rongqi6:before {
  content: "\e647";
}

